@import "../../../assets/styles/_variables";
@import "../../../assets/styles/_mixins";
a:focus {
    outline: none;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.parent-container {
    height: 100vh;
    font-family: $primary-font-family;
}

.navbar-header {
    a.navbar-brand {
        text-transform: uppercase;
        font-size: $primary-font-size;
        line-height: 16px;
        padding: 5px 15px;
        &:hover,
        &:focus {
            background: none;
            border: 0;
        }
        img {
            width: 40px;
        }
    }
}

.navbar-nav {
    .logout-link {
        display: block;
        @include hide($breakpoint-alpha);
    }
    a {
        border-bottom-color: transparent;
        cursor: default;
        padding: 10px 30px;
        border-radius: 0;
        font-size: $primary-font-size;
        color: $anchor-color !important;
        border: 0;
        &:hover {
            color: $text-active-color !important;
        }
        ;
        &:focus {
            color: $text-active-color !important;
            @include border-bottom(max-width, $breakpoint-alpha, 1px, $border-color);
            @include border-bottom(min-width, $breakpoint-alpha, 5px, $active-background-color);
        }
        @include border-bottom(max-width, $breakpoint-alpha, 1px, $border-color);
    }
    .active {
        border: 0;
        color: $text-active-color !important;
        &:hover,
        &:focus {
            color: $text-active-color !important;
            @include border-bottom(max-width, $breakpoint-alpha, 1px, $border-color);
            @include border-bottom(min-width, $breakpoint-alpha, 5px, $active-background-color);
        }
        @media (max-width: $breakpoint-alpha) {
            border-bottom: 1px solid $border-color;
            border-left: 5px solid $active-background-color;
        }
        @include border-bottom(min-width, $breakpoint-alpha, 5px, $active-background-color);
    }
}

.navbar-right {
    display: table;
    @media (max-width: $breakpoint-alpha) {
        display: none;
    }
    .profile-nav {
        margin: 10px 30px 0;
        .profile-menu {
            left: auto;
            right: 0;
        }
        li {
            .user-name {
                color: $text-active-color;
                cursor: pointer;
                .user {
                    margin-right: 5px;
                }
            }
        }
        img {
            border-radius: 50%;
            max-width: 32px !important;
            width: 100%;
            border: 2px solid #c4d4f0;
        }
        .dropdown-menu::before {
            content: "";
            border-bottom: 7px solid $text-active-color;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            position: absolute;
            top: -4px;
            right: 13px;
        }
    }
}

.content {
    height: 100%;
    background-color: $primary-background-color;
}