<section class="container-fluid list-view">
    <header class="row list-header">
        <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
            <label class="table-title">
                All Documents | {{list.totalRecords}}
            </label>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <label for="search-field"></label>
            <input name="search-field" type="text" ng-model="list.listConfig.searchString" placeholder="Search" class="form-control" aria-label="...">
        </div>
    </header>
    <section class="table-container">
        <table class="rwd-table">
            <tr>
                <th>Document Name</th>
                <th>Uploaded By</th>
                <th>Link</th>
                <th>Uploaded Date</th>
            </tr>
            <tr ng-if="list.list.length == 0"> <td colspan="12" data-th="Note">No Data Available</td></tr>
            <tr ng-if="list.list.length > 0" ng-repeat="row in list.list">
                <td data-th="Document Name">{{row.name}}</td>
                <td data-th="Uploaded By">{{row.uploader}}</td>
                <td data-th="Link"><a ng-click="list.dialog(row)">Document Link</a></td>
                <td data-th="Uploaded Dated">{{row.date}}</td>
            </tr>
        </table>
    </section>
    <footer ng-if="list.list.length > 0">
        <ul uib-pagination total-items="list.listConfig.totalPages" ng-model="list.listConfig.pageNumber" max-size="list.maxSize" boundary-link-numbers="true" rotate="false"></ul>
    </footer>
</section>