@import "../../../assets/styles/_variables";
@import "../../../assets/styles/_mixins";

.button-anchor-extend {
    a {
        background-color: $border-color;
        color: $text-active-color;
        border-color: $border-color;
    }
}

.modal {
    .modal-content {
        background-color: $secondary-background-color;
        color: $text-active-color;
        border-color: $text-disabled-color;
    }
    .modal-header {
        border-color: $text-disabled-color;
        .close {
            color: $text-active-color;
            opacity: 0.7;
        }
    }
    .modal-dialog {
        width: 785px;
    }
    .pdf-view {
        width: 750px;
        height: 600px;
    }
}

.list-view {
    background-color: $primary-background-color;
    header.list-header {
        padding: 15px;
        margin: 0 5px;
        .table-title {
            font-size: 16px;
            margin-top: 25px;
            text-transform: uppercase;
            color: #f2f2f2;
            @include margin($breakpoint-alpha, 35%);
            @include margin($breakpoint-beta, 30%);
            @include margin($breakpoint-gamma, 25%);
            @include margin($breakpoint-omega, 20%);
        }
    }
    .table-container {
        padding: 20px;
        background-color: $secondary-background-color;
        .rwd-table {
            width: 100%;
            line-height: 3;
            color: $text-inactive-color;
            border-bottom: 1px solid $border-color;
            tr {
                border-bottom: 1px solid $border-color;
            }
            th {
                color: $text-active-color;
                padding-left: 10px !important;
                display: none;
                text-transform: uppercase;
            }
            td {
                display: block;
                padding-left: 10px !important;
                a:hover {
                    color: $active-link-color;
                    cursor: pointer;
                }
                &:before {
                    content: attr(data-th)": ";
                    font-weight: bold;
                    width: 45%;
                    line-height: 2;
                    text-transform: uppercase;
                    display: inline-block;
                    @include hide($breakpoint-alpha);
                }
            }
            th,
            td {
                text-align: left;
                @media (min-width: $breakpoint-alpha) {
                    display: table-cell;
                    padding: 5px;
                }
            }
        }
    }
    footer {
        background-color: $secondary-background-color;
        height: 75px;
        padding-right: 20px;
        @include padding-right($breakpoint-alpha, 25%);
        @include padding-right($breakpoint-gamma, 20%);
        @include padding-right($breakpoint-omega, 25%);
        .pagination {
            float: right;
            .pagination-prev,
            .pagination-next {
                @extend .button-anchor-extend;
            }
            .pagination-page {
                @extend .button-anchor-extend;
            }
            .active {
                a {
                    background-color: $active-background-color;
                    border-color: $active-background-color;
                }
            }
            .disabled {
                a {
                    color: $text-disabled-color;
                }
            }
        }
    }
}