$text-active-color: #fff;
$text-inactive-color: #AAAAAA;
$text-disabled-color: #616161;
$active-link-color: #337AB7;
$primary-background-color: #000;
$secondary-background-color: #222;
$active-background-color: #DC9530;
$border-color: #353535;
$primary-font-family: Roboto,
sans-serif;
$primary-font-size: 16px;
$anchor-color: #AAAAAA;
$breakpoint-alpha: 767px;
$breakpoint-beta: 605px;
$breakpoint-gamma: 480px;
$breakpoint-omega: 360px;